---
layout: page
title:
subtitle:
current: blog
sitemap:
  priority: 0.9
---

<div class="blogposts nu">
   {% for post in site.posts %}
   <div><span class="post-teaser__title"><a href = "{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span></div>
   <date>{{ post.date | date: "%Y-%m-%d" }}</date>
    {% endfor %}
</div>


<!--
<ul class="list-posts">
    {% for post in site.posts %}
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
            </a>
            <span class="post-teaser__date">{{ post.date | date: "%Y-%m-%d" }}</span>
            <span class="post-teaser__subtitle">{{ post.subtitle }}</span>
            <img style="width:500px" align="center" src="{{ post.thumbnail }}" />
        </li>
    {% endfor %}
</ul>
-->



<!--{% include page/explore.html %}-->