---
layout: page
title:
subtitle:
current: reading
permalink: /reading/
---

<div class="readings nu">
   {% for book in site.data.books %}
   <div><span class="book-teaser book-teaser__title"><a href = "{{ book.link }}">{{ book.title }}</a></span></div>
   <div><span class="book-teaser__author">{{ book.author }}</span></div>
   <date>{{ book.completed | date: "%Y-%m-%d" }}</date>
    {% endfor %}
</div>


<!--
<ul class="reading-list">
   {% for book in site.data.books %}
        <li>
          <a href = "{{ book.link }}">
              <span class="book-teaser__title">{{ book.title }}</span>
          </a>
          <span class="book-teaser__author"> {{ book.author }} </span>
          <span class="book-teaser__date"> {{ book.completed | date: "%Y-%m-%d" }} </span>
            <span class="book-teaser__stars"> ★ </span>
        </li>
    {% endfor %}
</ul>
-->
