/* =Base */

body {
//    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
    line-height: 1.6;
//    letter-spacing: -0.2px;
}

//body {
////    font-family: 'Inconsolata', ;
////    font-family: Franklin Gothic Book, Source Sans Pro, Helvetica Neue, sans-serif;
//    font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,helvetica,'helvetica neue',ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
//    color: $iron;
////    background-color: $dorian;
//    background-color: #fff;
////    font-weight: 200;
//    color:#111;
////    margin:30px auto;
//    -webkit-font-smoothing:antialiased;
//    text-rendering:optimizeLegibility;
//    line-height:1.6;
//    font-size:1rem;
//    font-family:var(--sans-font);
//}



html {
    overflow-y: scroll;
}

a {
    color: $iron;
//    font-weight: bold;
    text-decoration: none;

    &:hover {
    
    }
}

p {
    font-size: 16px;
    line-height: 20px;
}

p a{
// color: #e4938c;
 color: $cloudy;
 text-decoration: underline;
 text-decoration-color: lightgray;
}
p a:hover {
 color: $iron;
 text-decoration: underline;
 text-decoration-color: $cloudy;
}

p.pfp {
    width: 600px;
    text-align: center;
}

img {
    margin: 0px auto;
    display: inline;
    max-width: 100%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
//  width: 50%;
}

.circle {
  border-radius: 50%;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.left {
 width: 300px;
// border-radius: 50%;
 float: left;
 padding: 0 25px 0 0;
}


blockquote {
    letter-spacing: 3px;
    margin:0px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 20px;
        color: $cloudy;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    max-width: 800px;
    margin: 30px auto;
//    width: 750px;
//    margin: 30px 300px;
}


.header {
    overflow: hidden;
}

.navigation {
    float:left;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin:0px;
    margin-top: 2px;
    padding: 0px;
    list-style-type: none;
}

.menu__entry {
    display: inline-block;
    margin-right: 35px;

    &:last-child {
        margin-right: 0px;
    }
}

.menu__entry a {
    font-weight: 400;
    color: $cloudy;
}

.menu__entry a:hover {
//    text-decoration: underline;
    color: $iron;
}


.menu__entry:hover {
//    text-decoration: underline;
    color: $iron;
}

.menu__entry_current {
    color: $iron;
    display: inline-block;
    margin-right: 35px;

    &:last-child {
        margin-right: 0px;
    }
//    text-decoration: underline;
}

.social-links {
    float:right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
}

/* =Post teasers */

.aboutpage {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 0.25fr 2fr;
//    grid-template-columns: 1fr .75fr min-content 70px;
}

.aboutpage>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aboutpage__title {
    font-weight: 550;
    font-size: 16px;
    color: $iron;
    align: left;
}

.aboutpage__text {
    font-size: 16px;
//    color: $iron;
    align: left;
}


.aboutpage__text a {
     color: $cloudy;
     text-decoration: underline;
     text-decoration-color: lightgray;
}

.aboutpage__text a:hover {
     color: $iron;
     text-decoration: underline;
     text-decoration-color: $cloudy;
}


/* =Titles */
.page-title {
    margin-top:30px;
    margin-bottom:50px;
    text-align: center;
}

.page-title__text {
    font-weight: 700;
    font-size: 40px;
}

.page-title__subtitle {
    font-weight: 400;
    font-size: 22px;
    color: $cloudy;
}

.post-title {
    margin-bottom: 20px;
}

.post-title__text {
    font-size: 30px;
}

.post-title__subtitle {
    font-size: 20px;
}

.post-title__categories {
    font-size: 15px;
}


.post-title__categories a:hover {
    font-size: 15px;
//    color: lightgrey;
    color:#111;
}


/* =Post teasers */

.blogposts {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 2fr min-content;
//    grid-template-columns: 1fr .75fr min-content 70px;
}

.blogposts>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogposts date {
    padding-right: .25em;
    color: $cloudy;
    font-size: 16px;
    font-variant-numeric: tabular-nums;
    letter-spacing: -.012em;
    white-space: pre;
}


//.list-posts {
//    list-style-type: none;
//    padding: 0px;
//}

//.post-teaser {
//    margin-bottom: 2px;
//    font-weight: 550;
//}

.post-teaser__title {
//    margin-bottom: 2px;
    font-weight: 550;
    font-size: 16px;
    color: $iron;
}

.post-teaser__title:hover {
    text-decoration: underline;
//    font-size: 18px;
//    color: $cloudy;
}


.post-teaser__subtitle {
    font-size: 16px;
    color: $cloudy;
}

.post-teaser__date {
//    margin-bottom: 2px;
    font-size: 16px;
//    float: right;
//    vertical-align: middle;
    color: $cloudy;
    font-weight: 400;
}


.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

//Reading list 

.readings {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1.5fr .75fr min-content;
//    grid-template-columns: 1fr .75fr min-content 70px;
}

.readings>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.readings date {
    padding-right: .25em;
    color: $cloudy;
    font-size: 16px;
    font-variant-numeric: tabular-nums;
    letter-spacing: -.012em;
    white-space: pre;
}

//.reading-list {
//    list-style-type: none;
//    padding: 0px;
//}

//.book-teaser {
//    margin-bottom: 2px;
//    font-weight: 550;
//}

.book-teaser__title {
    font-weight: 550;
    font-size: 16px;
    color: $iron;
//    width: 60%;
    float: left;
}

.book-teaser__title:hover {
    text-decoration: underline;
}


.book-teaser__author {
    font-size: 16px;
    color: $cloudy;
//    margin-left: 10px;
    float: left;
//    width: 28%;
}


.book-teaser__date {
    font-size: 16px;
//    float: right;
//    vertical-align: middle;
    color: $cloudy;
    font-weight: 400;
//    width: 10%;
}

.book-teaser__stars {
    font-size: 16px;
    float: right;
//    vertical-align: middle;
    color: $cloudy;
//    font-weight: 400;
}


/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 140px;
}

.explore__devider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
}

.categories__item {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
}

.categories__item a {
    color: $iron;
}

.categories__item:after {
    content: "/";
    margin-left: 6px;
    color: $cloudy;
}

.categories__item:last-child:after {
    content: "";
    margin-left: 0px;
}


/* =Post page */
.about {
    color: $cloudy;
    margin-top: 70px;
    text-align: center;
    line-height: 24px;
}

.about__devider {
    font-size: 20px;
    margin-bottom: 50px;
    letter-spacing: 9.09px;
}

.about__text {
    font-size: 18px;
}

#disqus_thread {
    margin-top: 100px;
}

@media (max-width: 800px) {
    /* =Base */
    p {
        font-size: 16px;
        line-height: 1.6;
    }

    .wrapper {
        width: 80%;
    }

    .navigation,
    .social-links {
        @include centered-block();
    }

    .social-links {
        font-size: 30px;
        margin-top: 35px;
    }

    .page-title {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .page-title__text {
        font-size: 40px;
    }

    .page-title__subtitle {
        font-size: 18px;
    }
    
        .explore {
        margin-top: 80px;
    }

    .post-title__text {
        font-size: 28px;
    }

    .post-title__subtitle {
        font-size: 18px;
    }

    
//    .blogposts {
//        display: grid;
//        grid-column-gap: 5px;
//        grid-row-gap: 5px;
////        grid-template-columns: 2fr min-content;
//        grid-template-columns: repeat(auto-fit, minmax(min-content, 2fr));
//    //    grid-template-columns: 1fr .75fr min-content 70px;
//    }
//
//    .blogposts>div {
//        white-space: nowrap;
//        overflow: hidden;
//        text-overflow: ellipsis;
//    }
//
//    .blogposts date {
//        padding-right: .25em;
//        color: $cloudy;
//        font-size: 16px;
//        font-variant-numeric: tabular-nums;
//        letter-spacing: -.012em;
//        white-space: pre;
//    }
//    
//    .post-teaser__title {
//        font-size: 16px;
////        float: left;
//        display: block;
////        @include centered-block();
//    }
//
//    
//    .post-teaser__title::after { 
//        display: block; 
//        white-space: pre; 
//    } 
//
//    .post-teaser__date {
//        font-size: 16px;
//        margin-top: 10px;
////        float: left;
//        display: block;
////        @include centered-block();
//    }
//    
//    .readings {
//        display: grid;
//        grid-column-gap: 5px;
//        grid-row-gap: 5px;
//        grid-template-columns: repeat(auto-fit, minmax(min-content, 1.5fr));
////        grid-template-columns: 1.5fr .75fr min-content;
//    //    grid-template-columns: 1fr .75fr min-content 70px;
//    }
//
//    .readings>div {
//        white-space: nowrap;
//        overflow: hidden;
//        text-overflow: ellipsis;
//    }
//
//    
//    .book-teaser__title {
//        font-size: 16px;
////        float: left;
//        display: block;
////        @include centered-block();
//    }
//    
//    .book-teaser__author {
//        font-size: 16px;
////        float: left;
//        display: block;
////        @include centered-block();
//    }
//
//    .book-teaser__date {
//        font-size: 16px;
////        margin-top: 10px;
////        float: left;
//        display: block;
////        @include centered-block();
//    }
//

}